@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #242223; }

@font-face {
  font-family: 'Didot';
  src: url("../fonts/Didot_LT_Std_Italic.otf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Didot';
  src: url("../fonts/Didot_Regular.ttf");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Inter', sans-serif; }

p {
  font-size: 1.25rem;
  font-weight: 300; }

.navbar-brand img {
  width: 80px; }

.navbar-nav {
  gap: 30px;
  padding-right: 20px; }

.nav-link {
  padding-right: 0;
  padding-left: 0;
  color: #e6e5e2;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0;
  transition: 0.5s; }
  .nav-link:hover {
    transform: scale(1.1);
    color: #01739c; }

.pagina-actual {
  border-bottom: 1.5px solid #e6e5e2; }
  .pagina-actual:hover {
    border-bottom: 1.5px solid #01739c; }

#banner-inicio {
  width: 100%;
  height: 700px; }
  #banner-inicio .carousel-inner {
    width: 100%; }
    #banner-inicio .carousel-inner .carousel-item img {
      object-fit: cover;
      height: 700px;
      filter: brightness(50%); }

.titulo-banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 35%;
  color: #e6e5e2;
  font-family: 'Inter', sans-serif; }
  .titulo-banner p {
    padding-left: 10%;
    font-size: 2rem;
    font-weight: 100; }
  .titulo-banner h1 {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    padding-left: 10%;
    padding-bottom: 10px;
    font-size: 4rem;
    font-weight: 500;
    border-bottom: 1px solid #e6e5e2;
    text-shadow: 3px 3px #01739c; }
  .titulo-banner button {
    align-self: center;
    margin-top: 7%;
    font-size: 20px;
    color: #e6e5e2;
    background-color: rgba(255, 255, 255, 0.277);
    width: 175px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 50px;
    box-shadow: 2px 2px 20px rgba(47, 46, 46, 0.222);
    transition: 1s; }
    .titulo-banner button a {
      text-decoration: none;
      color: #e6e5e2; }
    .titulo-banner button:hover {
      background-color: #24222342;
      cursor: pointer;
      box-shadow: 2px 2px 20px #e6e5e262; }

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

.quienes-somos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-top: 7%;
  padding-bottom: 7%;
  padding-left: 10%;
  padding-right: 10%;
  color: #e6e5e2; }
  .quienes-somos div {
    width: 50%; }
    .quienes-somos div h2 {
      font-family: 'Inter';
      font-size: 2.5rem;
      font-weight: 400;
      padding: 20px; }
      .quienes-somos div h2 span {
        font-weight: 500;
        text-shadow: 2px 2px #01739c; }
    .quienes-somos div hr {
      background-color: #01739c;
      width: 100px;
      height: 2px;
      margin-left: 30px; }
    .quienes-somos div p {
      padding: 1.25rem;
      text-align: justify;
      margin-right: 50px; }
    .quienes-somos div button {
      border-radius: 50px;
      width: 150px;
      height: 50px;
      margin-left: 20px;
      border: 2px solid #e6e5e2;
      background-color: #01739c;
      transition: 1s; }
      .quienes-somos div button:hover {
        transform: scale(1.05); }
      .quienes-somos div button a {
        color: #e6e5e2;
        text-decoration: none; }
  .quienes-somos iframe {
    width: 600px;
    border-radius: 10px; }

.linea {
  width: 90%;
  height: 0.0625rem;
  margin: 0 auto;
  background-color: #e6e5e26b; }

.nuestros-servicios {
  color: #e6e5e2;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%; }
  .nuestros-servicios h2 {
    font-family: 'Inter';
    font-size: 2.5rem;
    font-weight: 400;
    padding: 0 1.25rem 0 20px; }
  .nuestros-servicios hr {
    background-color: #01739c;
    width: 25rem;
    height: 0.125rem;
    margin-left: 1.25rem; }
  .nuestros-servicios .servicios {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    color: #242223; }
    .nuestros-servicios .servicios .card {
      background-color: #e6e5e2;
      width: 18rem;
      height: 500px;
      margin-top: 1.875rem;
      border-bottom: 5px solid #01739c;
      transition: 1s; }
      .nuestros-servicios .servicios .card .container-icon-servicio {
        width: 9.375rem;
        height: auto;
        border-radius: 50%;
        border: 5px solid #01739c;
        background-color: #e6e5e2;
        align-self: center;
        margin-top: 1.875rem;
        transition: 1s; }
        .nuestros-servicios .servicios .card .container-icon-servicio img {
          padding: 35px;
          width: 100%;
          max-width: 100%; }
      .nuestros-servicios .servicios .card:hover {
        background-color: #01739c;
        color: #e6e5e2; }
        .nuestros-servicios .servicios .card:hover .container-icon-servicio {
          border: 5px solid #242223;
          background-color: #01739c; }

.banner-sgr {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-image: url("../assets/banner-sgr.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  box-shadow: 2px 2px 5px gray;
  padding: 5% 10% 5% 10%; }
  .banner-sgr h1 {
    font-family: 'Inter';
    font-size: 2.5rem;
    font-weight: 400;
    font-size: 3rem;
    width: 50%; }
    .banner-sgr h1 span {
      font-family: 'Didot';
      font-size: 3rem;
      font-style: italic; }
  .banner-sgr p {
    width: 50%;
    line-height: 40px;
    text-align: justify;
    font-weight: 300; }

.requisitos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 500px;
  color: #e6e5e2;
  background-color: #01739c; }
  .requisitos div {
    width: 60%;
    height: 100%;
    padding: 5% 10% 5% 10%; }
    .requisitos div h2 {
      font-family: 'Inter';
      font-size: 2.5rem;
      font-weight: 400;
      padding-bottom: 20px;
      font-size: 2rem; }
      .requisitos div h2 span {
        font-family: 'Didot';
        font-size: 2.5rem;
        font-style: italic; }
    .requisitos div hr {
      width: 100px;
      height: 3px;
      background-color: #151562;
      margin-left: 20px; }
    .requisitos div ul {
      font-size: 1.25rem;
      padding: 20px;
      text-align: left; }
      .requisitos div ul li {
        list-style: disc;
        margin-bottom: 20px; }
  .requisitos img {
    width: 40%;
    height: 100%;
    object-fit: cover; }

#como-asociarse {
  color: #e6e5e2;
  padding: 5% 10% 5% 10%; }
  #como-asociarse h2 {
    font-family: 'Inter';
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 20px; }
  #como-asociarse .container-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%; }
    #como-asociarse .container-info button {
      width: 100px;
      height: 40px;
      background-color: #01739c;
      border-radius: 5px;
      border: none;
      margin-top: 15px;
      transition: 0.5s; }
      #como-asociarse .container-info button a {
        color: #e6e5e2;
        transition: 0.5s; }
      #como-asociarse .container-info button:hover {
        background-color: white; }
        #como-asociarse .container-info button:hover a {
          color: #01739c;
          text-decoration: none; }
    #como-asociarse .container-info ul li {
      list-style: disc; }
    #como-asociarse .container-info .info {
      padding: 30px;
      height: 600px;
      width: 500px;
      border-radius: 10px;
      background: #242223;
      box-shadow: 8px 5px 20px 0px rgba(255, 255, 255, 0.1) inset, 12px 12px 43px 0px rgba(0, 0, 0, 0.25);
      transition: 1s; }
      #como-asociarse .container-info .info:hover {
        transform: scale(1.03); }
      #como-asociarse .container-info .info hr {
        background-color: #01739c;
        width: 10px;
        height: 2px; }

.banner-empresa {
  display: flex;
  align-items: center;
  width: 100%;
  background-image: url("../assets/banner-empresa.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.43); }
  .banner-empresa h1 {
    width: 100%;
    padding-left: 60px;
    color: #e6e5e2;
    font-size: 4rem;
    font-weight: 300; }

.historia {
  color: #e6e5e2;
  padding: 5% 10% 5% 10%;
  width: 100%; }
  .historia h2 {
    font-family: 'Inter';
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: 30px; }
    .historia h2 hr {
      position: static;
      width: 300px;
      height: 3px;
      background-color: #01739c;
      transform: none; }
  .historia div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px; }
    .historia div h3 {
      width: 10%;
      text-align: center;
      font-family: 'Didot';
      font-size: 3rem;
      font-style: italic; }
    .historia div p {
      text-align: justify;
      width: 90%;
      border-left: 3px solid #e6e5e2;
      padding-left: 50px; }

.mision-vision {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: auto;
  background-color: #e6e5e2;
  color: #242223;
  padding: 5% 10% 5% 10%; }
  .mision-vision div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: auto;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: auto; }
    .mision-vision div h3 {
      font-family: 'Inter';
      font-size: 2.5rem;
      font-weight: 400; }
      .mision-vision div h3 span {
        font-family: 'Didot';
        font-size: 3rem;
        font-style: italic; }
  .mision-vision hr {
    background-color: #01739c;
    height: 2px;
    width: 50px;
    align-self: flex-start; }

.equipo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: auto;
  background-color: #01739c;
  color: #e6e5e2;
  padding: 5% 10% 5% 10%; }
  .equipo h2 {
    font-family: 'Inter';
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: 30px; }
    .equipo h2 span {
      font-family: 'Didot';
      font-size: 3rem;
      font-style: italic; }
    .equipo h2 hr {
      width: 20px;
      height: 3px;
      background-color: #e6e5e2;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  .equipo .miembros {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas: "miembro1 miembro2 miembro3" "miembro4 miembro5 miembro6"; }
    .equipo .miembros div {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      gap: none;
      margin-top: 20px;
      transition: 0.6s; }
      .equipo .miembros div:first-child {
        grid-area: miembro1; }
      .equipo .miembros div:nth-child(2) {
        grid-area: miembro2; }
      .equipo .miembros div:nth-child(3) {
        grid-area: miembro3; }
      .equipo .miembros div:nth-child(4) {
        grid-area: miembro4; }
      .equipo .miembros div:nth-child(5) {
        grid-area: miembro5; }
      .equipo .miembros div:nth-child(6) {
        grid-area: miembro6; }
      .equipo .miembros div h4 {
        text-align: center; }
      .equipo .miembros div:hover {
        text-shadow: 2px 0 #242223;
        transform: scale3d(2); }

.banner-asociarse {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-image: url("../assets/banner-asociarse.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 900px; }
  .banner-asociarse div {
    width: 90%;
    height: 90%; }
    .banner-asociarse div form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas: "titulo-form titulo-form" "campo-nombre campo-cuit" "campo-email campo-telefono" "campo-archivo1 campo-archivo2" "campo-archivo3 campo-archivo4" "boton-enviar boton-enviar";
      background-color: #E6E5E2;
      box-shadow: 3px 0 70px gray;
      width: 100%;
      height: 100%; }
      .banner-asociarse div form h2 {
        grid-area: titulo-form;
        align-self: center;
        justify-self: center; }
      .banner-asociarse div form .campo-nombre {
        grid-area: campo-nombre; }
      .banner-asociarse div form .campo-cuit {
        grid-area: campo-cuit; }
      .banner-asociarse div form .campo-telefono {
        grid-area: campo-telefono; }
      .banner-asociarse div form .campo-email {
        grid-area: campo-email; }
      .banner-asociarse div form .campo-archivo1 {
        grid-area: campo-archivo1;
        align-self: center;
        justify-self: center; }
      .banner-asociarse div form .campo-archivo2 {
        grid-area: campo-archivo2;
        align-self: center;
        justify-self: center; }
      .banner-asociarse div form .campo-archivo3 {
        grid-area: campo-archivo3;
        align-self: center;
        justify-self: center; }
      .banner-asociarse div form .campo-archivo4 {
        grid-area: campo-archivo4;
        align-self: center;
        justify-self: center; }

.campo-form {
  display: flex;
  align-items: center;
  justify-content: center; }
  .campo-form input {
    font-family: "Inter", sans-serif;
    width: 80%;
    height: 40px;
    border-width: 0.5px;
    border-color: #bebdb72b;
    border-radius: 10px;
    background: linear-gradient(313deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(230, 229, 226, 0.3) 95.45%), #e6e5e2;
    box-shadow: 3px 3px 10px 0px rgba(138, 155, 189, 0.4) inset, -3px -3px 10px 0px rgba(255, 255, 255, 0.7) inset; }
    .campo-form input::placeholder {
      color: #5c5b5bbd;
      padding-left: 5%;
      font-family: 'Inter', sans-serif; }

input[type="file"]::file-selector-button {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  border-width: 0.5px;
  border-color: #bebdb72b;
  border-radius: 60px;
  height: 30px;
  background: linear-gradient(313deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(230, 229, 226, 0.3) 95.45%), #e6e5e2;
  box-shadow: -3px -3px 10px 0px rgba(255, 255, 255, 0.7) inset, 3px 3px 10px 0px rgba(138, 155, 189, 0.4) inset;
  transition: 0.5s; }
  input[type="file"]::file-selector-button:hover {
    background: linear-gradient(313deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(230, 229, 226, 0.3) 95.45%), #3d3d3d63;
    box-shadow: -3px -3px 10px 0px rgba(255, 255, 255, 0.7) inset, 3px 3px 10px 0px rgba(138, 155, 189, 0.4) inset; }

.boton-enviar {
  grid-area: boton-enviar;
  align-self: center;
  justify-self: center;
  width: 150px;
  height: 50px;
  background-color: #242223;
  font-family: 'Roboto';
  color: #E6E5E2;
  border-radius: 10px;
  transition: 1s; }
  .boton-enviar:hover {
    background-color: #0b3268; }

.doc-utiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: auto;
  color: #e6e5e2;
  padding: 5% 10% 5% 10%; }
  .doc-utiles h2 {
    font-family: 'Inter';
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center; }
  .doc-utiles ul {
    list-style-type: disc;
    margin-left: 70px; }
    .doc-utiles ul li {
      padding: 30px; }
      .doc-utiles ul li a {
        text-decoration: none;
        color: #e6e5e2;
        text-align: left; }
        .doc-utiles ul li a:hover {
          color: #01739c; }

.main-contacto {
  background-color: #e6e5e2; }

.banner-contacto {
  background-image: url("../assets/banner-contacto.jpg");
  width: 100%;
  height: 400px;
  background-size: cover; }
  .banner-contacto div {
    color: #e6e5e2;
    border-bottom: 1px solid #e6e5e2;
    padding-left: 5%;
    padding-top: 200px; }
    .banner-contacto div p {
      font-size: 1.25rem;
      font-weight: 300;
      padding-left: 20px; }
    .banner-contacto div h1 {
      font-family: 'Inter';
      font-size: 2.5rem;
      font-weight: 400; }

.form-contacto {
  position: absolute;
  top: 20%;
  left: 55%;
  background-color: #E6E5E2;
  width: 40%;
  height: 600px;
  border-radius: 2%;
  box-shadow: 3px 0 70px gray; }
  .form-contacto form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 100%;
    height: 100%; }
    .form-contacto form label {
      padding-top: 5%;
      width: 100%; }
      .form-contacto form label .mensaje {
        height: 150px; }
    .form-contacto form input::placeholder {
      margin-left: 40px; }
  .form-contacto .boton-enviar {
    margin-top: 3%; }

.ubicacion {
  padding-top: 3%;
  width: 100%;
  height: 700px;
  background-color: #e6e5e2;
  color: #242223;
  padding: 5% 10% 5% 10%; }
  .ubicacion h3 {
    font-family: 'Inter';
    font-size: 2.5rem;
    font-weight: 400; }
  .ubicacion iframe {
    width: 40%;
    height: 350px; }

.card-contacto-container {
  position: absolute;
  top: 1040px;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  width: 100%;
  padding-top: 50px; }
  .card-contacto-container a {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 80%;
    grid-template-areas: "titulo-card titulo-card" "icon-card info-card ";
    width: 300px;
    height: 150px;
    padding: 20px;
    background-color: white;
    font-size: 1.125rem;
    font-weight: 300;
    border-radius: 15px;
    transition: 1s;
    text-decoration: none;
    color: #242223; }
    .card-contacto-container a:hover {
      transform: scale(1.1); }
    .card-contacto-container a .material-icons {
      grid-area: icon-card;
      font-size: 3rem;
      align-self: center;
      justify-self: center; }
    .card-contacto-container a h6 {
      grid-area: titulo-card;
      align-self: baseline;
      justify-self: center; }
    .card-contacto-container a ul {
      grid-area: info-card;
      align-self: center;
      text-decoration: none; }
      .card-contacto-container a ul li {
        list-style: none;
        text-decoration: none; }

.redes-sociales {
  background-color: #242223;
  color: #e6e5e2;
  height: auto;
  padding: 7% 10% 5% 10%; }
  .redes-sociales h2 {
    font-family: 'Inter';
    font-size: 2.5rem;
    font-weight: 400; }
    .redes-sociales h2 span {
      font-family: 'Didot';
      font-size: 3rem;
      font-style: italic; }
  .redes-sociales a img {
    width: 150px;
    filter: drop-shadow(10px 10px 70px rgba(138, 155, 189, 0.4));
    transition: 1s; }
    .redes-sociales a img:hover {
      transform: scale(1.1);
      filter: drop-shadow(10px 10px 70px #3416b8); }

.container-redes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10%;
  padding: 20px; }

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  color: #e6e5e2;
  padding: 2% 7% 2% 7%; }
  footer a img {
    width: 90px;
    padding: 10%; }
  footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0; }
    footer ul li a img {
      width: 30px; }

@media (max-width: 1024px) {
  .quienes-somos {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px; }
    .quienes-somos div {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0;
      width: 100%; }
      .quienes-somos div h2 {
        font-size: 2.2rem;
        text-align: center; }
      .quienes-somos div hr {
        margin: 0; }
      .quienes-somos div p {
        margin: 0px;
        text-align: center;
        width: 100%; }
      .quienes-somos div button {
        margin: 0; }
    .quienes-somos iframe {
      width: 90%; }
  .nuestros-servicios h2 {
    font-size: 2.2rem; }
  .nuestros-servicios .servicios .card {
    width: 288px; }
    .nuestros-servicios .servicios .card .container-icon-servicio {
      width: 120px; }
    .nuestros-servicios .servicios .card .card-body .card-text {
      font-size: 16px; }
  .logo-footer img {
    width: 50px; }
  .banner-contacto div h1 {
    font-size: 36px; }
  .ubicacion h3 {
    font-size: 32px; }
  .card-contacto-container a {
    width: 250px; }
    .card-contacto-container a .material-icons {
      font-size: 2.5rem;
      justify-self: flex-start; }
    .card-contacto-container a ul {
      font-size: 1rem; }
  .banner-asociarse div form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px; }
    .banner-asociarse div form .campo-form {
      width: 100%; }
    .banner-asociarse div form i {
      display: none; } }

@media (max-width: 768px) {
  .titulo-banner {
    padding: 10px; }
    .titulo-banner h1 {
      font-size: 3.5rem; }
    .titulo-banner p {
      font-size: 1.5rem; }
    .titulo-banner button {
      margin-top: 50px; }
  footer a img {
    width: 70px; }
  footer span {
    font-size: 0.75rem; }
  .nuestros-servicios .servicios {
    flex-direction: column; }
    .nuestros-servicios .servicios .card {
      width: 100%;
      height: fit-content; }
      .nuestros-servicios .servicios .card .card-body {
        text-align: center; }
  .nuestros-servicios hr {
    width: 300px; }
  .nav-link:hover {
    transform: none; }
  .pagina-actual {
    border-bottom: none; }
    .pagina-actual:hover {
      border-bottom: none; }
  .banner-sgr {
    height: 400px; }
    .banner-sgr h1 {
      font-size: 2rem; }
      .banner-sgr h1 span {
        font-size: 2.2rem; }
    .banner-sgr p {
      font-size: 1rem;
      line-height: 20px;
      text-align: left; }
  .requisitos div {
    padding: 5% 3% 5% 3%; }
    .requisitos div h2 {
      font-size: 1.75rem; }
      .requisitos div h2 span {
        font-size: 1.9rem; }
    .requisitos div ul {
      font-size: 16px; }
  .requisitos img {
    width: 50%; }
  #como-asociarse h2 {
    font-size: 1.8rem; }
  #como-asociarse .container-info .info {
    height: fit-content; }
  .banner-empresa {
    height: 200px;
    justify-content: center;
    text-align: center; }
    .banner-empresa h1 {
      font-size: 3rem;
      padding: 0; }
  .mision-vision div h3 {
    font-size: 2rem; }
    .mision-vision div h3 span {
      font-size: 2.2rem; }
  .mision-vision div p {
    font-size: 1rem; }
  .historia div h3 {
    font-size: 2rem; }
  .historia div p {
    font-size: 1rem; }
  .equipo .miembros {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "miembro1 miembro2" "miembro3 miembro4" "miembro5 miembro6"; }
    .equipo .miembros div h4 {
      font-size: 1.25rem; }
  .equipo h2 {
    font-size: 2rem; }
    .equipo h2 span {
      font-size: 2.2rem; }
  .doc-utiles {
    text-align: center; }
    .doc-utiles h2 {
      font-size: 2rem; }
    .doc-utiles ul {
      list-style: none;
      margin: 0; }
  .banner-contacto {
    height: 200px; }
    .banner-contacto div {
      padding-top: 50px; }
  .form-contacto {
    width: 100%;
    position: static;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0;
    overflow: visible;
    padding-top: 20px; }
    .form-contacto form {
      width: 80%;
      height: auto;
      padding: 20px;
      border-radius: 2%;
      box-shadow: 3px 0 70px gray; }
  .ubicacion {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px; }
    .ubicacion h3 {
      font-size: 36px;
      margin-left: 20px;
      padding-top: 21px; }
    .ubicacion iframe {
      width: 80%;
      margin: 0;
      padding: 0%; }
  .card-contacto-container {
    position: static;
    flex-direction: column;
    gap: 40px; }
    .card-contacto-container a {
      width: 80%;
      font-size: 1.25rem; }
  .redes-sociales {
    text-align: center;
    padding: 10%; }
    .redes-sociales h2 {
      font-size: 2rem; }
      .redes-sociales h2 span {
        font-size: 2.5rem; }
  .container-redes {
    flex-direction: column;
    gap: 40px; } }

@media (max-width: 425px) {
  p {
    font-size: 1rem; }
  .titulo-banner {
    text-align: center; }
    .titulo-banner h1 {
      font-size: 2.5rem;
      padding: 0; }
    .titulo-banner p {
      font-size: 1.125rem;
      padding: 0; }
    .titulo-banner button {
      width: 9.375rem;
      height: 70px;
      margin-top: 7.5rem; }
  .quienes-somos div h2 {
    font-size: 1.5rem; }
  .nuestros-servicios hr {
    width: 200px; }
  .banner-sgr {
    flex-direction: column; }
    .banner-sgr h1 {
      text-align: center;
      width: 100%; }
    .banner-sgr p {
      text-align: center;
      width: 100%; }
  .requisitos {
    flex-direction: column;
    height: 600px;
    text-align: center; }
    .requisitos div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      overflow: hidden; }
      .requisitos div hr {
        margin: 0; }
    .requisitos img {
      width: 100%;
      height: 300px; }
  .banner-empresa h1 {
    font-size: 2rem; }
  .mision-vision {
    padding-top: 10%;
    padding-bottom: 10%; }
    .mision-vision div {
      flex-direction: column;
      gap: 10px; }
      .mision-vision div p {
        text-align: center; }
  .historia h2 {
    font-size: 2rem; }
    .historia h2 hr {
      width: 150px; }
  .historia div {
    flex-direction: column; }
    .historia div h3 {
      width: 100%; }
    .historia div p {
      border: none;
      padding: 0;
      text-align: center;
      width: 100%; }
  .equipo .miembros {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px; }
  .banner-asociarse input[type="file"] {
    font-size: 10px; }
    .banner-asociarse input[type="file"] button {
      font-size: 10pxs; }
  .redes-sociales h2 {
    font-size: 1.75rem; }
    .redes-sociales h2 span {
      font-size: 2rem; }
  .container-redes div a img {
    width: 100px; }
  footer ul li a img {
    width: 25px; } }
