@mixin flexbox($direction, $wrap, $justify, $align, $gap){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;}

@mixin resaltado($size){
    font-family: 'Didot';
    font-size: $size;
    font-style: italic;
}
@mixin subtitulo{
    font-family: 'Inter';
    font-size: 2.5rem;
    font-weight: 400;
}
