.banner-asociarse{
    @include flexbox(row, nowrap, center, center, 0);
    background-image: url("../assets/banner-asociarse.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    div{
        width: 90%;
        height:90%;
        form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(6, 1fr);
            grid-template-areas:    "titulo-form titulo-form"
                                "campo-nombre campo-cuit"
                                "campo-email campo-telefono"
                                "campo-archivo1 campo-archivo2"
                                "campo-archivo3 campo-archivo4"
                                "boton-enviar boton-enviar";
            background-color: #E6E5E2;
            box-shadow: 3px 0 70px gray;
            width: 100%;
            height: 100%;
            h2{
                grid-area: titulo-form;
                align-self: center;
                justify-self: center;
            }
            .campo-nombre{
                grid-area: campo-nombre;
            }
            .campo-cuit{
                grid-area: campo-cuit;
            }
            .campo-telefono{
                grid-area: campo-telefono;
            } 
            .campo-email{
                grid-area: campo-email;
            }
            .campo-archivo1{
                grid-area: campo-archivo1;
                align-self: center;
                justify-self: center;
            }      
            .campo-archivo2{
                grid-area: campo-archivo2;
                align-self: center;
                justify-self: center;
            } 
            .campo-archivo3{
                grid-area: campo-archivo3;
                align-self: center;
                justify-self: center;
            }
            .campo-archivo4{
                grid-area: campo-archivo4;
                align-self: center;
                justify-self: center;
            }
    }
}
}

.campo-form{
    display: flex;
    align-items: center;
    justify-content: center;
    input{
        font-family: "Inter", sans-serif;
        width: 80%;
        height: 40px;
        border-width: 0.5px;
        border-color: #bebdb72b;
        border-radius: 10px;
        background: linear-gradient(313deg, rgba(255, 255, 255, 0.30) 4.49%, rgba(230, 229, 226, 0.30) 95.45%), #e6e5e2;
        box-shadow: 3px 3px 10px 0px rgba(138, 155, 189, 0.40) inset, -3px -3px 10px 0px rgba(255, 255, 255, 0.70) inset;
        &::placeholder{
            color: #5c5b5bbd;
            padding-left: 5%;
            font-family: 'Inter', sans-serif;
        }
    }
}

input[type="file"]::file-selector-button{
    font-family: 'Inter', sans-serif;
    border-width: 0.5px;
    border-color: #bebdb72b;
    border-radius: 60px;
    height: 30px;
    background: linear-gradient(313deg, rgba(255, 255, 255, 0.30) 4.49%, rgba(230, 229, 226, 0.30) 95.45%), #e6e5e2;
    box-shadow: -3px -3px 10px 0px rgba(255, 255, 255, 0.70) inset, 3px 3px 10px 0px rgba(138, 155, 189, 0.40) inset;
    transition: 0.5s;
    &:hover{
        background: linear-gradient(313deg, rgba(255, 255, 255, 0.30) 4.49%, rgba(230, 229, 226, 0.30) 95.45%), #3d3d3d63;
    box-shadow: -3px -3px 10px 0px rgba(255, 255, 255, 0.70) inset, 3px 3px 10px 0px rgba(138, 155, 189, 0.40) inset;
    }
}

.boton-enviar{
    grid-area: boton-enviar;
    align-self: center;
    justify-self: center;
    width:150px;
    height: 50px;
    background-color: #242223;
    font-family: 'Roboto';
    color: #E6E5E2;
    border-radius: 10px;
    transition: 1s;
    &:hover{
    background-color: #0b3268 ;
    }
}

.doc-utiles{
    @include flexbox(row, wrap, center, center, 10px);
    width: 100%;
    height: 400px;
    color: $color;
    padding: 5% 10% 5% 10%;
    h2{
        @include subtitulo;
        text-align: center;
    }
    ul{
        list-style-type: disc;
        margin-left: 70px;
        li{
            padding: 30px;
            a{
                text-decoration: none;
                color: $color;
                text-align: left;
                &:hover{
                    color: $color-resaltado;
                }
            }
        }
    }
}
